<div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
  <hr class="lg:col-span-2 md:col-span-2 mb-2" />
  <p class="text-sm mb-1 max-w-md">
    I have a strong enthusiasm for web development and the complexities it involves. I have developed proficiencies in FrontEnd and BackEnd technologies through both my university education and self-directed learning.
  </p>
  <p class="text-sm mb-1 max-w-md">
    I possess extensive experience in collaborative work, as well as a track record of leadership and mentorship, and a propensity for rapid skill acquisition. My philosophy is that every new problem presents an opportunity to acquire new knowledge.
  </p>
  <p class="text-sm mb-1 max-w-md -mt-2">
    I am enthusiastic about designing user-friendly and adaptable interfaces. I am seeking an opportunity to showcase my abilities.
  </p>
  <p class="text-sm mb-1 max-w-md -mt-2">
    In my previous employment, I applied agile methodologies including Scrum, adherence to delivery timelines, and constant communication.
  </p>
  <hr class="lg:col-span-2 md:col-span-2 mt-2" />
</div>
