<div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
  <hr class="lg:col-span-2 md:col-span-2 mb-2" />
  <p class="text-sm mb-1 max-w-md">
    I am a person who is passionate about web development and the challenges it
    entails. I have acquired skills with the help of my university studies and
    through self-taught training in FrontEnd and BackEnd technologies.
  </p>

  <p class="text-sm mb-1 max-w-md">
    I have a lot of experience in teamwork, as well as having been a leader,
    mentor, and having a facility for quick learning. Which is my philosophy,
    every new problem is an opportunity to learn something new.
  </p>
  <p class="text-sm mb-1 max-w-md -mt-2">
    I am passionate about creating intuitive and responsive interfaces. I am
    looking for an opportunity to showcase my skills.
  </p>
  <p class="text-sm mb-1 max-w-md -mt-2">
    During my last work experience I have put into practice agile methodologies
    such as Scrum, delivery times and constant communication.
  </p>
  <hr class="lg:col-span-2 md:col-span-2 mt-2" />
</div>
