---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "May 2024 - September 2024 / Simetría Digital",
    title: "Internship as Junior Developer",
    company: "Simetría Digital ",
    description:
      "Evaluation and analysis of solutions to respond to customer needs, development and maintenance of APIs and web applications, design and implementation of full-stack applications (Front-End and Back-End) and completion of tasks in agile sprints.",
  },
  {
    date: "March 2023 - February 2024 / Language Line Solutions",
    title: "Spanish Interpreter",
    company: "Language Line Solutions ",
    description:
      "Responsible for listening, understanding , and interpreting what is communicated during the conversation. Ability to interpret both written and verbal information.",
  },
  {
    date: "June 2017 - September 2022 / Amazon",
    title: "Amazon Associate",
    company: "Amazon",
    description:
      "While at the company, I was fortunate to assume various roles, including customer service agent, mentor, and team leader, and I implemented changes across multiple departments, eventually concluding my journey in Amazon's Alexa division.",
  },
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCE.map((experience) => (
      <li class="ml-3 mb-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
