---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "May 2024 - September 2024",
    title: "Internship as Junior Developer",
    company: "Simetría Digital ",
    description:
      "Evaluation and analysis of solutions to respond to customer needs, development and maintenance of APIs and web applications, design and implementation of full-stack applications (Front-End and Back-End) and completion of tasks in agile sprints.",
  },
  {
    date: "March 2023 - February 2024",
    title: "Spanish Interpreter",
    company: "Language Line Solutions ",
    description:
      "Responsible for listening, understanding and interpreting what is communicated during the conversation. Ability to interpret written and verbally.",
  },
  {
    date: "June 2017 - September 2022",
    title: "Amazon Associate",
    company: "Amazon",
    description:
      "During my time at the company I had the opportunity to play different roles as a customer service agent, mentor, team leader, and I made changes in different departments, culminating my time in Amazon's Alexa department.",
  },
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCE.map((experience) => (
      <li class="ml-3 mb-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
